
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="_fragments :: head('首頁')">

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>首頁</title>

    <!-- Bootstrap core CSS -->
    <link href="theme/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="theme/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav th:replace="_fragments :: nav(1)">

</nav>

<!-- Page Header -->
<header class="masthead" style="background-image: url('theme/img/home-bg.jpg')"  th:replace="_fragments :: header">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Clean Blog</h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <nav class="navbar navbar-light bg-light">
                <form class="form-inline">
                    <input type="hidden" name="page" >
                    <input class="form-control" name="key_word" type="search" placeholder="Key-Word">
                    <select class="selectpicker" title="types" name="typeId">
                        <div th:each="type : ${types}">
                            <option th:text = ${type.name}  th:value="${type.id}" value="1" >Java</option>
                        </div>
                    </select>
                    <button id="clear-btn" class="btn btn-outline-success" type="button">Clear</button>
                    &ensp;
                    <button id="search-btn" class="btn btn-outline-success " type="button">Search</button>

                </form>
            </nav>
            <div th:fragment="blogList" id="page-container">
                <div class="post-preview" th:each="blog : ${page.content}">
                    <a href="#" th:href="@{/blog/{id}(id=${blog.id})}">
                        <h3 th:text="${blog.title}" class="post-title">
                            Man must explore, and this is exploration at its greatest
                        </h3>
                        <h4 th:text="${blog.content}"class="post-subtitle">
                            Problems look mighty small from 150 miles up
                        </h4>
                    </a>
                    <div class="post-meta">
                        <p style="display: inline">Post by</p>
                        <a href="#" th:text="${blog.user.username}"  style="display: inline"></a>
                        <p style="display: inline">On</p>
                        <p th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd HH:mm')}"  style="display: inline"></p>
                        &ensp;
                        <p style="display: inline">  Views: </p>
                        <p th:text="${blog.views}" style="display: inline"></p>
                        &ensp;&ensp;&ensp;
                        <a href="#" th:text="${blog.type.name}" class="text-success" style="display: inline;"></a>
                    </div>
                    <hr>
                </div>
            <!--<div class="post-preview">
                <a href="#">
                    <h2 class="post-title">
                        I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
                    </h2>
                </a>
                <p class="post-meta">Posted by
                    <a href="#">Start Bootstrap</a>
                    on September 18, 2019</p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="#">
                    <h2 class="post-title">
                        Science has not yet mastered prophecy
                    </h2>
                    <h3 class="post-subtitle">
                        We predict too much for the next year and yet far too little for the next ten.
                    </h3>
                </a>
                <p class="post-meta">Posted by
                    <a href="#">Start Bootstrap</a>
                    on August 24, 2019</p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="#">
                    <h2 class="post-title">
                        Failure is not an option
                    </h2>
                    <h3 class="post-subtitle">
                        Many say exploration is part of our destiny, but it’s actually our duty to future generations.
                    </h3>
                </a>
                <p class="post-meta">Posted by
                    <a href="#">Start Bootstrap</a>
                    on July 8, 2019</p>
            </div>
            <hr>  -->
            <!-- Pager -->
                <div class="clearfix">
                    <a class="btn btn-primary float-left" th:href="@{/(page=${page.number}-1)}" th:unless="${page.first}">Elder Posts &larr;</a>
                    <a class="btn btn-primary float-right" th:href="@{/(page=${page.number}+1)}" th:unless="${page.last}">Older Posts &rarr;</a>
                </div>
            </div>

        </div>
    </div>
</div>

<hr>

<!-- Footer -->
<footer th:replace="_fragments :: footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; Your Website 2019</p>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="theme/vendor/jquery/jquery.min.js"></script>
<script src="theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Custom scripts for this template -->
<script src="theme/js/clean-blog.min.js"></script>
<!--/*/</th:block>/*/-->

<script>
    $('#search-btn')
        .on('click', function () {
            $("[name='page']").val(0);
            loadData();
    });
    function loadData() {
        $('#page-container').load("/index/search", {
            key_word : $("[name='key_word']").val(),
            typeId : $("[name='typeId']").selectpicker('val'),
            page : $("[name='page']").val()
        });
    }

    $("#clear-btn")
        .on("click", function () {
            $("[name='key_word']").val("");
            $("[name='typeId']").selectpicker('val',['noneSelectedText']);
        });

    //input按enter行為
    $("[name='key_word']").keypress(function(e){
        code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13)
        {
            $('.selectpicker').selectpicker('toggle')
            return false;
        }
    });

    // 超過100個字以"..."取代
    $(function(){
        var len = 50;
        $(".post-subtitle").each(function(i){
            if($(this).text().length>len){
                var text=$(this).text().substring(0,len-1)+"...";
                $(this).text(text);
                $(this).width("100%");
            }
        });
    });
</script>

</body>

</html>
